html, body {
  background-color: #fff;
  color: #fff;
  margin: 0px;
  padding: 0px;
  font-family: 'Oswald', arial, sans-serif;
  text-align: center;
}

.col-md-12 {
  background-color: #000;
}

.container, .row {
  background-color: #000;
  margin: 0px;
  padding: 0px;
}

.main-div {
  margin: 0px;
  padding: 0px;
  /*background: #555;
  color: #fff;*/
}

.proj-img {
  width: 50vh;
  height: 35vh;
  overflow: hidden;
  object-fit: cover;
  padding: 10px;
}

.title-name {
  font-weight: 100;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.top {
  margin: 0px;
  padding: 0px;
}

/* Details page - carousel */

.item {
  padding-top: 4vh;
  height: 59vh;
  /*width: auto;*/
  margin: auto;

}

.item img {
  height: 50vh;
  width: auto;
  margin: auto;
  overflow: hidden;
  object-fit: cover;
}
