#bootstrap-overrides body {
  background-color: #fff;
  color: #888;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', helvetica, sans-serif;
  /*font-weight: light;*/
  text-align: center;
}

#bootstrap-overrides a {
  color: #444;
}

#bootstrap-overrides h1, h2, h3 {
  font-size: 2.7em;
  font-weight: 100;
  line-height: 1em;
  letter-spacing: 0.15em;
}

/*#bootstrap-overrides strong h4 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
}*/

#bootstrap-overrides strong {
  font-size: 3em;
  font-weight: 700;
  line-height: 1em;
}

@media (max-width: 992px) {
  #bootstrap-overrides h1, h2, h3 {
    font-family: Roboto, sans-serif;
    font-size: 2.7em;
    font-weight: 100;
    line-height: 1em;
    letter-spacing: 0.15em;
  }

  #bootstrap-overrides strong {
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;
  }

}

/*h1, h2, h3, h4, h5, h6, a, div {

font-weight: normal !important;
text-shadow: 0 0 0 !important;

}*/

* { 
  font-weight: normal!important;
  text-rendering:optimizeLegibility !important; 
}


.main-div {
  margin: 0px;
  padding: 0px;
}

.proj-img, .proj-img-bw {
  width: 50vh;
  height: 35vh;
  max-width: 334px;
  max-height: 233px;

  overflow: hidden;
  object-fit: cover;
  margin: 0px;
  padding: 0px;
  /*border:10px solid #000;*/

  filter: sepia(10%) saturate(100%) brightness(97%);
}

.proj-img-w {
  width: 50vh;
  height: 35vh;
  max-width: 334px;
  max-height: 233px;

  overflow: hidden;
  object-fit: cover;
  margin: 0px;
  padding: 0px;

  /*filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(180deg);*/
}

.tint {
  filter: sepia(0%) saturate(100%) brightness(97%);
}

@media (max-width: 992px) {
  .proj-img {
    width: 90vh;
    height: 60vh;
    max-width: 90vh;
    max-height: 60vh;

    overflow: hidden;
    object-fit: cover;
    padding: 0px;
    margin: 0px;
    display: block;
    border: 10px solid #000;
  }

  .proj-img-w, .proj-img-bw {
    width: 90vh;
    height: 60vh;
    max-width: 90vh;
    max-height: 60vh;

    overflow: hidden;
    object-fit: cover;
    padding: 0px;
    margin: 0px;
    border: 0px solid #000;
  }
}

.top {
  margin: 0px;
  padding: 0px;
}

/* Details page - carousel */
/*
.item {
  padding-top: 4vh;
  height: 59vh;
  width: auto;
  margin: auto;

}

.item img {
  height: 50vh;
  width: auto;
  margin: auto;
  overflow: hidden;
  object-fit: cover;
}

.carousel .row {
  background-color: #000;
  margin: 0px;
  padding: 0px;
}

.carousel .row .white {
  background-color: #fff;
  margin: 0px;
  padding: 0px;
}

.col-md-12 .container {
  background-color: #000;
}

.col-md-12 .container .white {
  background-color: #fff;
}*/

/* Flipbook */
.flipbook {
  height: 80vh;
}

iframe {
  background-color: #fff;
}

/* Stand-along images */
.detail-img {
  width: 80vw;
  height: auto;
  max-height: 90vh;
  width: auto;
  max-width: 90vw;
  height: auto;
  /*border: 10px solid black;*/

  filter: sepia(0%) saturate(100%) brightness(97%);

  margin: 0px;
  padding: 0px;
}

/* Stand-along images */
.detail-img-w {
  width: 80vw;
  height: auto;
  max-height: 90vh;
  width: auto;
  max-width: 90vw;
  height: auto;
  /*border: 10px solid black;*/

  /*filter: sepia(0%) saturate(100%) brightness(97%);*/

  margin: 0px;
  padding: 0px;
}

/*.detail-img-w {
  width: 80vw;
  height: auto;
  max-height: 90vh;
  width: auto;
  max-width: 90vw;
  height: auto;
  /*border: 10px solid white;*/

/*  filter: sepia(0%) saturate(100%) brightness(97%);

  margin: 0px;
  padding: 0px;
}*/

.detail-img-pc-single {
  width: 90vw;
  height: auto;
  max-height: 70vh;
  width: auto;
  max-width: 50vw;
  height: auto;
  /*border: 10px solid black;*/

  filter: sepia(0%) saturate(100%) brightness(97%);

  margin: 0px;
  padding: 0px;
}

@media (max-width: 992px) {
  .detail-img-pc-single {
    width: 90vw;
    height: auto;
    max-height: 70vh;
    width: auto;
    max-width: 90vw;
    height: auto;
    /*border: 10px solid black;*/

    filter: sepia(0%) saturate(100%) brightness(97%);

    margin: 0px;
    padding: 0px;
  }
}

.detail-img-pc-double {
  width: 90vw;
  height: auto;
  max-height: 90vh;
  width: auto;
  max-width: 25vw;
  height: auto;
  /*border: 10px solid black;*/

  filter: sepia(0%) saturate(100%) brightness(97%);

  margin: 0px;
  padding: 0px;
}

.detail-img-pc-triple {
  width: 90vw;
  height: auto;
  max-height: 90vh;
  width: auto;
  max-width: 27vw;
  height: auto;
  /*border: 10px solid white;*/

  filter: sepia(0%) saturate(100%) brightness(97%);

  margin: 0px;
  padding: 0px;
}

.detail-img-journal {
  width: 90vw;
  height: auto;
  max-height: 90vh;
  width: auto;
  max-width: 27vw;
  height: auto;
  /*border: 10px solid white;*/

  /*filter: sepia(0%) saturate(100%) brightness(97%);*/

  margin: 0px;
  padding: 0px;
}

@media (max-width: 992px) {
  .detail-img-journal {
    width: 80vw;
    height: auto;
    max-height: 90vh;
    width: auto;
    max-width: 90vw;
    height: auto;

    /*filter: sepia(0%) saturate(100%) brightness(97%);*/

    margin: 0px;
    padding: 0px;
  }


}

.detail-img-grid {
  width: 90vw;
  height: auto;
  max-height: 90vh;
  width: auto;
  max-width: 27vw;
  height: auto;
  /*border: 10px solid black;*/

  filter: sepia(0%) saturate(100%) brightness(97%);

  margin: 0px;
  padding: 0px;
}

.detail-img-grid-4 {
  width: 90vw;
  height: auto;
  max-height: 90vh;
  width: auto;
  max-width: 22vw;
  height: auto;
  /*border: 10px solid black;*/

  filter: sepia(0%) saturate(100%) brightness(97%);

  margin: 0px;
  padding: 0px;
}

@media (max-width: 992px) {
  .detail-img-grid, .detail-img-grid-4 {
    width: 80vw;
    height: auto;
    max-height: 90vh;
    width: auto;
    max-width: 90vw;
    height: auto;
    /*border: 10px solid black;*/

    filter: sepia(0%) saturate(100%) brightness(97%);

    margin: 0px;
    padding: 0px;
  }
}
