body {
  background: #fff;
  color: #222;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.proj-img {
  width: 80vh;
  height: 50vh;
  overflow: hidden;
  object-fit: cover;
  padding-left: 0px;
}

.title-name {
  font-weight: 100;
}
